/* Common */
html{
    @include tablet {
        font-size: 15px;
    }
    @include mobile {
        font-size: 14px;
    }
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: $font-ko;
    line-height: 1.8;
    -webkit-font-smoothing: antialiased;
    color:#fff;
    letter-spacing: -0.04em;
    word-break: keep-all;
    transition: background-color .5s ease-in-out;

    &[data-bgcolor=black]{
        background-color:$color-black;
    }

    &[data-bgcolor=darkgray]{
        background-color:$color-darkgray;
    }

    &[data-bgcolor=warmgray]{
        background-color:$color-warmgray;
    }    
}

body.scroll-lock {
    height: 100%;
    min-height: 100%;
    overflow:hidden;
    touch-action:none;
}

:root{
    --gutter-size: 3.75rem;
    --gutter-size-small: 2.5rem;

    @include tablet {
        --gutter-size: 40px;
        --gutter-size-small: 20px;
    }
    @include mobile {
        --gutter-size: 20px;
        --gutter-size-small: 10px;
    }
}

h2, h3{
    font-family: $font-en;
    letter-spacing: -0.05em;;
}

.pc-only{
    @include tablet {
        display: none !important;
    }
}

.tb-show{
    display: none !important;
    @include tablet {
        display: block !important;
    }
}

.mo-only{
    display: none !important;
    @include mobile {
        display: block !important;
    }
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0);
    white-space: nowrap;
}

.row{
    display: flex;
    flex-direction: row;
    @include tablet {
        flex-direction: column;
    }
    &__col{
        flex-basis: 0;
        flex-grow: 1;
    }
}


/* Button */
.fill-btn{
    position: relative;
    font-size:1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    gap: 2rem;
    backdrop-filter: blur(12px);
    border: 1px solid $color-white;
    border-radius: 50px;
    padding:0.5rem 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.5s ease;
    @include laptop {
        font-size: 1.2rem;
    }

    &:before{
        position: absolute;
        content: "";
        width: 0;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        background: $color-white;
        transition: 0.3s ease;
    }
    &:hover{
        color:$color-black;
        &:before{
            width:100%;
        }
        svg path{
            stroke: $color-black;
        }
    }
}


/* Effect */
.split{
    .line{
        display: inline-block;
        overflow: hidden;
    }
}

.slide-up{
    display: block;
    overflow: hidden;
    line-height: 1;
    span{
        display: inline-block;
        opacity: 0;
        transform: translateY(100%);
    }
    &--descender{
        line-height: 1.2;
    }
}

.fade-in{
    position: relative;
    &__item{
        position: relative;
        &:not(:first-child){
            position: absolute;
            left:50%;
            transform: translateX(-50%);
            top:0;
        }
    }
}