// Break Point
$desktop: 1400px;
$laptop: 1020px;
$tablet: 850px;
$mobile: 650px;

// Color
$color-white:#fff;
$color-black:#000;
$color-darkgray:#0f0f0f;
$color-warmgray:#e9e8dd;

// Font
$font-en:"Marcellus", serif;
$font-ko:"pretendard", sans-serif;

// Size
$gutter-size: 3.75rem; //60px
$gutter-size-small: 2.5rem; //40px
