// Break Point
$laptop: 1280px;
$tablet: 1024px;
$mobile: 767px;
$mobile480: 480px;

// Color
$color-white:#fff;
$color-black:#000;
$color-darkgray:#0f0f0f;
$color-warmgray:#e9e8dd;

// Font
$font-en: "Marcellus", serif;
$font-ko: "pretendard", sans-serif;