.footer{
    background-color: $color-darkgray;
    border-top: 1px solid $color-white;
    font-size:0.875rem;
    overflow: hidden;

    &__row--top{
        padding: var(--gutter-size);
        padding-bottom: 15.625rem;
        @include tablet {
            padding-bottom: 6.3rem;
        }

    }
    &__title{
        font-size:13.5vw;
        text-align: center;
        white-space: nowrap;
        line-height: 1;
        @include tablet {
            font-size:12.5vw;
        }
    }
    &__btn-wrap{
        display: flex;
        justify-content: flex-end;
        margin-top: 4rem;
        @include tablet {
            justify-content: center;
            margin-top: 2rem;
        }
    }


    // row btm
    &__row--btm{
        position: relative;
        padding: var(--gutter-size);
        padding-bottom: 2.6rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        row-gap: 2rem;
        
        @include tablet{
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, minmax(0, auto));
            row-gap: 2.5rem;
        }

        &:before{
            content:'';
            position: absolute;
            display:block;
            width:calc(100% - var(--gutter-size) * 2);
            height:1px;
            background:#3a3a3a;
            top:0;
            left: var(--gutter-size);
        }
    }

    &__info{
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;

        @include tablet{
            grid-column: 1 / span 3;
            grid-row: 1 / span 1;
            border-bottom: 1px solid #3a3a3a;
            padding-bottom: 1.6rem;
        }

        .footer__logo{
            width:74px;
            @include mobile {
             width: 54px;
            }
            img{
                width:100%;
            }
        }
        &-list{
            margin-top: 2rem;
            max-width:300px;
            line-height: 2;

            @include tablet {
                max-width: 250px;
            }
        }
        &-item{
            display: inline-block;
            color: #cdcdcd;
            &--dash{
                position: relative;
                padding-right:20px;
                &:before{
                    content:'';
                    position: absolute;
                    display: block;
                    width:1px;
                    height:60%;
                    top:20%;
                    right:8px;
                    background:#dadada;
                    opacity: 0.2;
                }
            }
        }
    }

    small{
        display: block;
        color:#626262;
        margin-top: 0.75rem;
        @include tablet{
            grid-column: 1 / span 3;
            grid-row: 4 / span 2;
        }
    }

    h6{
        font-family: $font-en;
        color:#cdcdcd;
        margin-bottom:0.8rem;
    }

    &__sitemap{
        grid-column: 3 / span 1;
        grid-row: 1 / span 2;

        @include tablet{
            grid-column: 1 / span 1;
            grid-row: 2 / span 1;
        }

        li{
            line-height: 2.2;
        }
    }

    &__contact{
        grid-column: 4 / span 1;
        grid-row: 1 / span 1;

        @include tablet{
            grid-column: 2 / span 2;
            grid-row: 2 / span 1;
        }

        li{
            a{
                border-bottom:1px solid $color-white;
            }
        }
    }

    &__address{
        text-transform: uppercase;
        grid-column: 4 / span 1;
        grid-row: 2 / span 1;
        @include tablet{
            grid-column: 1 / span 3;
            grid-row: 3 / span 1;
        }
    }

}