html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Marcellus";
  src: url("../font/Marcellus-Regular.woff") format("woff");
}
/* Common */
@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 14px;
  }
}

body {
  font-family: "pretendard", sans-serif;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  letter-spacing: -0.04em;
  word-break: keep-all;
  transition: background-color 0.5s ease-in-out;
}
body[data-bgcolor=black] {
  background-color: #000;
}
body[data-bgcolor=darkgray] {
  background-color: #0f0f0f;
}
body[data-bgcolor=warmgray] {
  background-color: #e9e8dd;
}

body.scroll-lock {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  touch-action: none;
}

:root {
  --gutter-size: 3.75rem;
  --gutter-size-small: 2.5rem;
}
@media (max-width: 1024px) {
  :root {
    --gutter-size: 40px;
    --gutter-size-small: 20px;
  }
}
@media (max-width: 767px) {
  :root {
    --gutter-size: 20px;
    --gutter-size-small: 10px;
  }
}

h2, h3 {
  font-family: "Marcellus", serif;
  letter-spacing: -0.05em;
}

@media (max-width: 1024px) {
  .pc-only {
    display: none !important;
  }
}

.tb-show {
  display: none !important;
}
@media (max-width: 1024px) {
  .tb-show {
    display: block !important;
  }
}

.mo-only {
  display: none !important;
}
@media (max-width: 767px) {
  .mo-only {
    display: block !important;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  white-space: nowrap;
}

.row {
  display: flex;
  flex-direction: row;
}
@media (max-width: 1024px) {
  .row {
    flex-direction: column;
  }
}
.row__col {
  flex-basis: 0;
  flex-grow: 1;
}

/* Button */
.fill-btn {
  position: relative;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: max-content;
  gap: 2rem;
  backdrop-filter: blur(12px);
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  transition: 0.5s ease;
}
@media (max-width: 1280px) {
  .fill-btn {
    font-size: 1.2rem;
  }
}
.fill-btn:before {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: #fff;
  transition: 0.3s ease;
}
.fill-btn:hover {
  color: #000;
}
.fill-btn:hover:before {
  width: 100%;
}
.fill-btn:hover svg path {
  stroke: #000;
}

/* Effect */
.split .line {
  display: inline-block;
  overflow: hidden;
}

.slide-up {
  display: block;
  overflow: hidden;
  line-height: 1;
}
.slide-up span {
  display: inline-block;
  opacity: 0;
  transform: translateY(100%);
}
.slide-up--descender {
  line-height: 1.2;
}

.fade-in {
  position: relative;
}
.fade-in__item {
  position: relative;
}
.fade-in__item:not(:first-child) {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: top 0.8s;
  color: #fff;
}
.header.open {
  width: 100%;
  height: 100%;
}
.header__inner {
  display: grid;
  grid-template-columns: 1fr minmax(100px, auto) 1fr;
  padding: 1.5rem 2.5rem;
  font-weight: 300;
  align-items: center;
}
@media (max-width: 1024px) {
  .header__inner {
    grid-template-columns: 1fr 1fr;
    padding: 1.2rem 1.2rem 1.2rem 1.25rem;
  }
}

.logo svg {
  width: 100%;
}
@media (max-width: 1024px) {
  .logo svg {
    width: 144px;
  }
}

.gnb__list {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.gnb__list li {
  position: relative;
  display: inline-block;
  font-weight: 300;
}
.gnb__list li:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 0;
  height: 1px;
  background-color: #fff;
  transform-origin: left;
  transition: all 0.3s ease-in-out;
}
.gnb__list li:hover:before {
  width: 100%;
}
.gnb__item--with-submenu .gnb__submenu {
  position: absolute;
  white-space: nowrap;
  padding-top: 0.2rem;
  display: flex;
  gap: 0.9rem;
  transition: 0.3s ease-in-out opacity;
  opacity: 0;
}
.gnb__item--with-submenu:hover .gnb__submenu {
  opacity: 1;
}

.util {
  display: flex;
  justify-self: end;
  align-items: center;
  gap: 1.56rem;
}
.util__language-item {
  opacity: 0;
  padding-top: 0.3rem;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
}
.util__language-item--selected {
  position: relative;
  opacity: 1;
  padding-top: 0;
}
.util__language-item--selected svg {
  vertical-align: middle;
}
.util__language:hover li {
  opacity: 1;
}
.util__btn {
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid #fff;
  padding: 8px 12px;
  border-radius: 50px;
  backdrop-filter: blur(2px);
  line-height: 1;
  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.util__btn:hover {
  background-color: #fff;
  color: #000;
}

.gnb-mobile-trigger {
  position: relative;
  justify-self: end;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
}
.gnb-mobile-trigger span {
  background: #fff;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}
.gnb-mobile-trigger span:nth-child(2) {
  top: 10px;
}
.gnb-mobile-trigger span:nth-child(3) {
  top: 20px;
}
.gnb-mobile-trigger.active span {
  background: #fff !important;
}
.gnb-mobile-trigger.active span:nth-child(1) {
  transform: translateY(10px) translateX(0) rotate(45deg);
}
.gnb-mobile-trigger.active span:nth-child(2) {
  opacity: 0;
}
.gnb-mobile-trigger.active span:nth-child(3) {
  transform: translateY(-10px) translateX(0) rotate(-45deg);
}

.gnb-mobile {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  box-sizing: content-box;
}
.gnb-mobile__inner {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff !important;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.gnb-mobile.open {
  display: block;
}
.gnb-mobile__language {
  display: flex;
  gap: 16px;
}
.gnb-mobile__language-item {
  line-height: 1.2;
  opacity: 0.2;
}
.gnb-mobile__language-item.active {
  opacity: 1;
  border-bottom: 1px solid #fff;
}
.gnb-mobile__list {
  margin-top: 20vw;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.gnb-mobile__list .gnb-mobile__item {
  font-family: "Marcellus", serif;
  font-size: 40px;
  line-height: 1;
  color: #e9e8dd;
}
.gnb-mobile__list .gnb-mobile__item--with-submenu svg {
  vertical-align: middle;
}
.gnb-mobile__list .gnb-mobile__item--with-submenu .gnb-mobile__submenu {
  height: 0;
  overflow: hidden;
  margin-top: 28px;
}
.gnb-mobile__list .gnb-mobile__item--with-submenu .gnb-mobile__submenu li {
  font-size: 20px;
  margin-bottom: 20px;
}
.gnb-mobile__list .gnb-mobile__item--with-submenu.active .gnb-mobile__submenu {
  height: auto;
}
.gnb-mobile__btn {
  position: absolute;
  bottom: 40px;
  width: calc(100% - 40px);
}

body[data-menucolor=black] header {
  color: #000;
}
body[data-menucolor=black] header .logo g {
  fill: #000;
}
body[data-menucolor=black] header .gnb li:before {
  background: #000;
}
body[data-menucolor=black] header .util__language svg path {
  fill: #000;
}
body[data-menucolor=black] header .util__btn {
  background-color: rgba(255, 255, 255, 0.3);
  border-color: #000;
}
body[data-menucolor=black] header .util__btn:hover {
  background-color: #000;
  color: #fff;
}
body[data-menucolor=black] header .gnb-mobile-trigger span {
  background: #000;
}

.footer {
  background-color: #0f0f0f;
  border-top: 1px solid #fff;
  font-size: 0.875rem;
  overflow: hidden;
}
.footer__row--top {
  padding: var(--gutter-size);
  padding-bottom: 15.625rem;
}
@media (max-width: 1024px) {
  .footer__row--top {
    padding-bottom: 6.3rem;
  }
}
.footer__title {
  font-size: 13.5vw;
  text-align: center;
  white-space: nowrap;
  line-height: 1;
}
@media (max-width: 1024px) {
  .footer__title {
    font-size: 12.5vw;
  }
}
.footer__btn-wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 4rem;
}
@media (max-width: 1024px) {
  .footer__btn-wrap {
    justify-content: center;
    margin-top: 2rem;
  }
}
.footer__row--btm {
  position: relative;
  padding: var(--gutter-size);
  padding-bottom: 2.6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  row-gap: 2rem;
}
@media (max-width: 1024px) {
  .footer__row--btm {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, minmax(0, auto));
    row-gap: 2.5rem;
  }
}
.footer__row--btm:before {
  content: "";
  position: absolute;
  display: block;
  width: calc(100% - var(--gutter-size) * 2);
  height: 1px;
  background: #3a3a3a;
  top: 0;
  left: var(--gutter-size);
}
.footer__info {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
}
@media (max-width: 1024px) {
  .footer__info {
    grid-column: 1/span 3;
    grid-row: 1/span 1;
    border-bottom: 1px solid #3a3a3a;
    padding-bottom: 1.6rem;
  }
}
.footer__info .footer__logo {
  width: 74px;
}
@media (max-width: 767px) {
  .footer__info .footer__logo {
    width: 54px;
  }
}
.footer__info .footer__logo img {
  width: 100%;
}
.footer__info-list {
  margin-top: 2rem;
  max-width: 300px;
  line-height: 2;
}
@media (max-width: 1024px) {
  .footer__info-list {
    max-width: 250px;
  }
}
.footer__info-item {
  display: inline-block;
  color: #cdcdcd;
}
.footer__info-item--dash {
  position: relative;
  padding-right: 20px;
}
.footer__info-item--dash:before {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 60%;
  top: 20%;
  right: 8px;
  background: #dadada;
  opacity: 0.2;
}
.footer small {
  display: block;
  color: #626262;
  margin-top: 0.75rem;
}
@media (max-width: 1024px) {
  .footer small {
    grid-column: 1/span 3;
    grid-row: 4/span 2;
  }
}
.footer h6 {
  font-family: "Marcellus", serif;
  color: #cdcdcd;
  margin-bottom: 0.8rem;
}
.footer__sitemap {
  grid-column: 3/span 1;
  grid-row: 1/span 2;
}
@media (max-width: 1024px) {
  .footer__sitemap {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
  }
}
.footer__sitemap li {
  line-height: 2.2;
}
.footer__contact {
  grid-column: 4/span 1;
  grid-row: 1/span 1;
}
@media (max-width: 1024px) {
  .footer__contact {
    grid-column: 2/span 2;
    grid-row: 2/span 1;
  }
}
.footer__contact li a {
  border-bottom: 1px solid #fff;
}
.footer__address {
  text-transform: uppercase;
  grid-column: 4/span 1;
  grid-row: 2/span 1;
}
@media (max-width: 1024px) {
  .footer__address {
    grid-column: 1/span 3;
    grid-row: 3/span 1;
  }
}

/* Section Common */
.sec {
  transition: background-color 0.5s ease-in-out;
}
.sec > [class*=__inner]:not(.pd-none) {
  padding-left: var(--gutter-size);
  padding-right: var(--gutter-size);
}
.sec__title-wrap {
  text-align: center;
}
.sec__subtitle {
  font-size: 1.25rem;
  line-height: 1;
}
@media (max-width: 1024px) {
  .sec__subtitle {
    font-size: 1.06rem;
  }
}
.sec__title {
  font-size: 13vw;
  letter-spacing: -0.06em;
  margin-top: 16rem;
}
@media (max-width: 1024px) {
  .sec__title {
    font-size: 5rem;
    margin-top: 6.6rem;
  }
}
.sec__title span {
  display: block;
}

.content__subtitle {
  padding-left: 50%;
}
@media (max-width: 1024px) {
  .content__subtitle {
    padding-left: 0;
    margin-bottom: 1.5rem;
  }
}
.content__title {
  font-size: 1.75rem;
  width: 100%;
  font-weight: 600;
  line-height: 1.5;
  padding-right: 3.75rem;
}
@media (max-width: 1024px) {
  .content__title {
    font-size: 20px;
    padding-right: 0;
  }
}
.content__desc {
  margin-top: 2.5rem;
  max-width: 860px;
}
@media (max-width: 1024px) {
  .content__desc {
    margin-top: 1.3rem;
  }
}
.content__list {
  margin-top: 6.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.56rem;
}
@media (max-width: 1024px) {
  .content__list {
    grid-template-columns: 1fr;
    margin-top: 4rem;
    column-gap: 0;
    row-gap: 2.6rem;
  }
}
.content__item {
  border-top: 1px solid #fff;
  display: flex;
  gap: 2.5rem;
  padding-top: 2rem;
}
@media (max-width: 1024px) {
  .content__item {
    padding-top: 1.2rem;
  }
}
.content__item-num {
  font-family: "Marcellus", serif;
}
.content__item-content h6 {
  font-size: 1.25rem;
  font-family: "Marcellus", serif;
  margin-bottom: 1rem;
}
@media (max-width: 1024px) {
  .content__item-content h6 {
    margin-bottom: 0.6rem;
  }
}
.content__item-content p {
  font-size: 0.875rem;
}
.content__item-content .content__table {
  font-size: 0.875rem;
  color: #cdcdcd;
}
.content__item-content .content__table-title {
  position: relative;
  padding-right: 24px;
}
.content__item-content .content__table-title:before {
  content: "";
  position: absolute;
  display: block;
  right: 12px;
  top: 6px;
  width: 1px;
  height: 12px;
  background: #dadada;
  opacity: 0.2;
}
.content__item-content .content__table-title--day {
  min-width: 6.25rem;
}
.content__item-content .content__table + p {
  color: #cdcdcd;
  padding-left: 6.25rem;
}
.content__btn {
  margin-top: 7rem;
  border-color: #3a3a3a;
}

.sec[data-bgcolor=warmgray] {
  color: #000;
}
.sec[data-bgcolor=warmgray] .content__item {
  border-color: #000;
}
.sec[data-bgcolor=warmgray] .content__item-content p {
  color: #626262;
}
.sec[data-bgcolor=warmgray] .fill-btn {
  border-color: #000;
}
.sec[data-bgcolor=warmgray] .fill-btn:before {
  background: #000;
}
.sec[data-bgcolor=warmgray] .fill-btn:hover {
  color: #fff;
}
.sec[data-bgcolor=warmgray] .fill-btn:hover svg path {
  stroke: #fff;
}

/* Intro */
.intro {
  position: absolute;
  height: 70vh;
  left: 0;
  width: 100%;
  z-index: 1;
}
@media (max-width: 1024px) {
  .intro {
    height: 40vh;
  }
}
.intro__title {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 10%);
  text-align: center;
  font-size: 8vw;
  line-height: 1;
}
@media (max-width: 1024px) {
  .intro__title {
    font-size: 3.75rem;
  }
}
@media (max-width: 767px) {
  .intro__title {
    font-size: 2.5rem;
  }
}
.intro__title span {
  display: block;
}

/* Hero */
.hero {
  width: 100%;
  height: 100vh;
}
.hero__inner {
  position: relative;
  padding-top: 70vh;
  z-index: -1;
}
@media (max-width: 1024px) {
  .hero__inner {
    padding-top: 40vh;
  }
}
.hero__content {
  height: 100vh;
  background: url(../../assets/images/intro-img-min.jpg) no-repeat center center/cover;
  padding: var(--gutter-size);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.hero__date {
  font-size: 1.75rem;
  margin-bottom: 1.2rem;
}
@media (max-width: 767px) {
  .hero__date {
    font-size: 18px;
    margin-bottom: 0.5rem;
  }
}
.hero__title {
  font-size: 5.2vw;
  font-weight: 300;
  line-height: 1.1;
}
@media (max-width: 1024px) {
  .hero__title {
    font-size: 2.6rem;
  }
}
.hero__row--btm {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #fff;
  margin-top: 3.75rem;
  padding-top: 2.2rem;
}
@media (max-width: 1024px) {
  .hero__row--btm {
    flex-direction: column;
    gap: 40px;
    margin-top: 1.6rem;
    padding-top: 1rem;
  }
}
.hero__desc {
  max-width: 510px;
  color: #cdcdcd;
}

/* Hello */
body[data-bgcolor=black] .hello,
body[data-bgcolor=warmgray] .hello {
  background-color: #e9e8dd;
}

body[data-bgcolor=darkgray] .hello {
  background-color: #0f0f0f;
}

.hello {
  position: relative;
  width: 100%;
}
.hello__inner {
  padding-top: 3.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}
.hello__title {
  font-size: 3.8vw;
  width: 100%;
  margin-top: 3rem;
  line-height: 1.5;
}
@media (max-width: 1024px) {
  .hello__title {
    font-size: 32px;
    margin-top: 5rem;
  }
  .hello__title br {
    display: none;
  }
}
@media (max-width: 767px) {
  .hello__title {
    font-size: 28px;
  }
}
.hello__title span {
  display: inline-block;
}
.hello__title img {
  width: auto;
  height: 4.35vw;
  vertical-align: middle;
}
.hello__desc {
  margin-top: 4.5rem;
  color: #626262;
}
@media (max-width: 1024px) {
  .hello__desc {
    margin-top: 3.3rem;
  }
}

/* Current Exhibition */
.exhib__inner {
  padding-top: 50vh;
  padding-bottom: 20vh;
  opacity: 0;
}
@media (max-width: 1024px) {
  .exhib__inner {
    padding-top: 25vh;
  }
}
.exhib__title {
  position: relative;
  z-index: 2;
}
.exhib__info {
  position: relative;
  transform: translateY(-12%);
  z-index: 1;
  text-align: center;
}
@media (max-width: 1024px) {
  .exhib__info {
    transform: translateY(-6%);
  }
}
.exhib__info img {
  width: 58vw;
  height: 35vw;
}
.exhib__info-date {
  font-size: 1.75rem;
  margin-top: 3.75rem;
}
@media (max-width: 1024px) {
  .exhib__info-date {
    font-size: 1rem;
    margin-top: 2rem;
  }
}
.exhib__info-title {
  font-size: 3.3vw;
  margin-top: 3rem;
  line-height: 1.2;
}
@media (max-width: 1024px) {
  .exhib__info-title {
    font-size: 4.2vw;
    margin-top: 1rem;
  }
}
@media (max-width: 767px) {
  .exhib__info-title {
    font-size: 2rem;
  }
}

/* About */
.about {
  padding-top: 40vh;
  padding-bottom: 20vh;
  overflow: hidden;
}
.about__grid-container {
  position: relative;
  height: 100vh;
}
.about__grid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, minmax(100px, auto));
  gap: 5rem;
  padding: var(--gutter-size-small);
  z-index: 1;
  transform: scale(1);
}
@media (max-width: 1024px) {
  .about__grid {
    gap: 2.6rem;
  }
}
.about__grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about__title-wrap {
  position: relative;
  z-index: 2;
  padding-top: 200vh;
}
.about__content {
  margin-top: 15.63rem;
  position: relative;
  z-index: 2;
}
@media (max-width: 1024px) {
  .about__content {
    margin-top: 10rem;
  }
}

/* Space */
.space {
  height: 400vh;
}
.space__inner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 70px;
  height: 100vh;
  align-items: center;
}
@media (max-width: 1024px) {
  .space__inner {
    grid-template-columns: 1fr;
  }
}
.space__content {
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (max-width: 1024px) {
  .space__content {
    gap: 1.5rem;
  }
}
.space__content .space__img-wrap .space__img {
  width: auto;
  max-width: 100%;
  max-height: calc(100vh - 70px);
  padding: 10%;
}
@media (max-width: 1024px) {
  .space__content .space__img-wrap .space__img {
    padding: 0;
    width: 40vh;
    height: 40vh;
  }
}
.space__content .space__text-wrap .space__num-wrap {
  margin-bottom: 0.9rem;
  font-size: 1.25rem;
}
@media (max-width: 1024px) {
  .space__content .space__text-wrap .space__num-wrap {
    margin-bottom: 0;
  }
}
.space__content .space__text-wrap .space__title-wrap {
  position: relative;
  height: 4.7vw;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .space__content .space__text-wrap .space__title-wrap {
    height: 3.3rem;
  }
}
.space__content .space__text-wrap .space__title-wrap .space__title {
  font-size: 3.8vw;
  line-height: 1.3;
}
@media (max-width: 1024px) {
  .space__content .space__text-wrap .space__title-wrap .space__title {
    font-size: 2.6rem;
  }
}
.space__content .space__text-wrap .space__desc-wrap {
  margin-top: 2.8rem;
}
@media (max-width: 1024px) {
  .space__content .space__text-wrap .space__desc-wrap {
    margin-top: 1.5rem;
  }
}
.space__content .space__text-wrap .space__desc-wrap .space__desc {
  width: 100%;
  max-width: 410px;
  display: inline-block;
}
.space__pagination {
  grid-column: 1/3;
  padding-bottom: var(--gutter-size-small);
  align-self: end;
}
.space__pagination-list {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 1.25rem;
}
.space__pagination-item {
  border-bottom: 1px solid #fff;
  width: 25%;
  line-height: 2.5;
}
@media (max-width: 1024px) {
  .space__pagination-item {
    color: #000;
    opacity: 0.2;
  }
  .space__pagination-item:first-child {
    width: 40vw;
    color: #fff;
    opacity: 1;
  }
}

.visit {
  position: relative;
  width: 100%;
}
.visit__inner {
  padding-top: 60vh;
  padding-bottom: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1024px) {
  .visit__inner {
    padding-bottom: 9.3rem;
  }
}
.visit__title {
  font-size: 8.3vw;
}
@media (max-width: 1024px) {
  .visit__title {
    font-size: 4.2rem;
  }
}
.visit__card-wrap {
  position: relative;
  margin-top: 10rem;
  display: flex;
  align-items: center;
}
.visit__card {
  width: 580px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: rotateZ(-4deg);
  position: relative;
  z-index: 1;
}
@media (max-width: 1024px) {
  .visit__card {
    max-width: 400px;
  }
}
@media (max-width: 767px) {
  .visit__card {
    max-width: 280px;
  }
}
.visit__card-img {
  width: 100%;
  height: 100%;
}
.visit__card-content {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
}
@media (max-width: 1024px) {
  .visit__card-content {
    padding: 0.6rem;
  }
}
.visit__card-content .visit__card-title {
  font-size: 2rem;
  line-height: 1;
}
@media (max-width: 1024px) {
  .visit__card-content .visit__card-title {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .visit__card-content .visit__card-title {
    font-size: 14px;
  }
}
.visit__card-content .visit__card-desc {
  width: 60%;
  font-size: 0.88rem;
  text-align: right;
  line-height: 1.6;
}
@media (max-width: 1024px) {
  .visit__card-content .visit__card-desc {
    width: 70%;
    font-size: 10px;
  }
}
@media (max-width: 767px) {
  .visit__card-content .visit__card-desc {
    width: 60%;
    font-size: 7px;
  }
}
.visit__card--anim {
  position: absolute;
  top: 0;
  z-index: 2;
}
.visit__content {
  padding-top: 12.5rem;
}

.faq[data-bgcolor=warmgray] {
  color: #fff;
  background-color: #000;
}
.faq__inner {
  min-height: 100vh;
  padding-top: var(--gutter-size);
  padding-bottom: 20rem;
}
@media (max-width: 1024px) {
  .faq__inner {
    gap: 4rem;
    padding-top: 2.28rem;
    padding-bottom: 10rem;
  }
}
.faq__item {
  position: relative;
  --active-scale: scale(0);
  opacity: 0;
}
.faq__item:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #3a3a3a;
  transform-origin: left;
  transform: var(--active-scale);
  transition: transform 0.8s ease-in-out;
}
.faq__item:last-child:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #3a3a3a;
  transform-origin: left;
  transform: var(--active-scale);
  transition: transform 0.8s ease-in-out;
}
.faq__item .faq__question {
  position: relative;
  font-size: 1.25rem;
  padding: 1.25rem 0;
  cursor: pointer;
  padding-right: 10%;
  opacity: 0;
}
@media (max-width: 767px) {
  .faq__item .faq__question {
    font-size: 1.1rem;
  }
}
.faq__item .faq__question:before, .faq__item .faq__question:after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 1px;
  background: #fff;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(0);
  transition: 0.5s ease-in-out;
}
@media (max-width: 1024px) {
  .faq__item .faq__question:before, .faq__item .faq__question:after {
    width: 28px;
  }
}
.faq__item .faq__question:after {
  transform: translateY(-50%) rotate(90deg);
}
.faq__item .faq__answer {
  color: #cdcdcd;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.faq__item .faq__answer span {
  display: block;
  padding-right: 10%;
  padding-left: var(--gutter-size-small);
  padding-bottom: 1.875rem;
}
.faq__item.expand .faq__question:before {
  transform: translateY(-50%) rotate(180deg);
}
.faq__item.expand .faq__question:after {
  transform: translateY(-50%) rotate(360deg);
}
.faq__item.expand .faq__answer {
  max-height: 500px;
}
.faq__btn {
  position: relative;
  display: inline-block;
  font-size: 1.25rem;
  margin-top: 5.625rem;
  line-height: 1;
  display: inline-flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .faq__btn {
    font-size: 1.1rem;
  }
}
@media (max-width: 1024px) {
  .faq__btn svg {
    width: 24px;
    height: 24px;
  }
}
.faq__btn:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  height: 1px;
  width: 0;
  transition: width 0.3s ease-in-out;
  transform-origin: left;
}
.faq__btn:hover:before {
  width: 100%;
}

.faq.active .faq__item:before {
  transform: scale(1);
}